apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
type: Opaque
stringData:
  # "stringData" allows you to write the password here in plain text.
  # Kubernetes will convert it to Base64 automatically when applied.
  postgres-password: "mysecurepassword123"